:root {
  box-sizing: border-box;
}

body {
  background-color: black;
}

header,
footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
  margin: 1rem 0 2rem 0;
  color: white;
  font-family: "Righteous", cursive;
}

p {
  font-size: 1em;
  margin: 1rem 0 2rem 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
  padding: 5%;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

nav {
  border: solid 2px black;
  border-radius: 30px;
  padding-right: 0.75rem;
  box-shadow: 5px 10px;
  margin-left: 0.5rem;
  background-color: white;
}

.container {
  display: flex;
}

/* Consider using flexbox here on main  */
img {
  margin-left: 8.2rem;
  position: fixed;
  z-index: 1;
  border-radius: 25px;
}
