:root {
    box-sizing: border-box;
}

header, footer {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav {
    border: solid 2px black;
    padding-right: 1rem;
}

.container {
    display: flex;
}

